.DS_Store
*.aws
*.swp
*.pyc
*.pid
*.o
*.bak
*.orig

**/.vscode/
**/.devcontainer/
**/.idea/
**/.python-version

.env.dev
.env.prod
.env

nginx/nginx.conf
nginx/access.log
nginx/error.log
www/consumer/react/webpack-stats.json
www/consumer/react/yarn-error.log
www/consumer/react/build
www/consumer/react/node_modules
www/static
www/.cache
www/.local
venv
